<div data-container>
  <div data-component="chartcell" data-hidden class="card">
    <div class="card-header">
      <span class="js-title">Chart</span>
      <div class="card-actions">
        <div class="btn-group">
          <button type="button" class="btn active dropdown-toggle" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="chart-wrapper">
        <canvas class="js-chart"></canvas>
      </div>
    </div>
  </div>
</div>