<div data-container class="trillo-container">
  <div data-component="row" class="trillo-container-row">
  </div>
  <div data-component="column" class="trillo-container-column">
  </div>
  <p data-component="p" class="trillo-component" data-content-editable="true">
  		This is a para.
  </p>
  <div data-component="div" class="trillo-component  data-content-editable="true"">
    This is a div element
  </div>
  <img data-component="img" class="trillo-component" src="https://www.trillo.io//collager/Builder/static/img/place-holder.png" style="width:400px, height: 400px"/>
  <h1 data-component="h1" class="trillo-component"  data-content-editable="true">
    Heading 1
  </h1>
  <h2 data-component="h2" class="trillo-component" data-content-editable="true">
    Heading 2
  </h2>
  <h3 data-component="h3" class="trillo-component" data-content-editable="true">
    Heading 2
  </h3>
  <h4 data-component="h4" class="trillo-component" data-content-editable="true">
    Heading 4
  </h4>
  <h5 data-component="h5" class="trillo-component" data-content-editable="true">
    Heading 5
  </h5>
  <h6 data-component="h6" class="trillo-component" data-content-editable="true">
    Heading 6
  </h6>
</div>