<div class="trillo-canvas js-grid">
  <div data-container class="card trillo-grid-cell js-grid-cell">
    <h3 data-component="header"
      class="card-header"></h3>
    <div data-block  class="card-block">
      <h4 data-component="title"
        class="card-title"></h4>
      <p data-component="content"
        class="card-text"></p>
      <table data-table class="table-striped table">
        <tbody>
          <tr data-table-row>
            <th scope="row"></th>
            <td data-component="label" data-hidden></td>
            <td data-component="readonly" data-hidden></td>
            <td data-component="text">
              <input data-field type="text" class="form-control">
            </td>
            <td data-component="checkbox"><label
              class="custom-control custom-checkbox"> <input
                data-field type="checkbox"
                class="custom-control-input"> <span
                class="custom-control-indicator"></span> <span
                data-label class="custom-control-description"></span>
            </label></td>
            <td data-component="radio">
              <div data-radios-container class="form-check">
                <label data-radio-container
                  class="custom-control custom-radio"> <input
                  data-field type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span> <span
                  data-radio-label class="custom-control-description"></span>
                </label>
              </div>
            </td>
            <td data-component="radio-stacked">
              <div data-radios-container
                class="form-check custom-controls-stacked">
                <label data-radio-container
                  class="custom-control custom-radio"> <input
                  data-field type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span> <span
                  data-radio-label class="custom-control-description"></span>
                </label>
              </div>
            </td>
            <td data-component="select">
              <select data-field class="form-control custom-select">
                <option>1</option>
            </select>
            </td>
            <td data-component="multi-select"><select multiple
              data-field class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select></td>
            <td data-component="textarea"><textarea data-field
                class="form-control" rows="3"></textarea></td>
            <td data-component="number">
              <label data-label></label> <input data-field
              type="number" class="form-control">
            </td>
            <td data-component="email">
              <input data-field type="email" class="form-control">
            </td>
            <td data-component="password"><input data-field
              type="password" class="form-control"></td>
            <td data-component="datetime"><label data-label></label>
              <input data-field type="text" class="form-control">
            </td>
            <td data-component="datetime-local"><label
              data-label></label> <input data-field
              type="datetime-local" class="form-control"></td>
            <td data-component="date">
              <label data-label></label> <input data-field type="date"
              class="form-control">
            </td>
            <td data-component="month">
              <label data-label></label> <input data-field
              type="month" class="form-control">
            </td>
            <td data-component="week">
              <label data-label></label> <input data-field type="week"
              class="form-control">
            </td>
            <td data-component="url"><label
              data-label></label> <input data-field type="url"
              class="form-control"></td>
            <td data-component="tel">
              <label data-label></label> <input data-field type="tel"
              class="form-control">
            </td>
            <td data-component="search">
              <label data-label></label> <input data-field
              type="search" class="form-control">
            </td>
            <td data-component="fileInput"><input data-field
              type="file" class="form-control-file"></td>
            <td data-component="button">
              <button type="button" class="btn btn-primary"></button>
            </td>
            <td data-component="submit">
              <button type="submit" class="btn btn-primary"></button>
            </td>
            <td data-component="reset">
              <button type="reset" class="btn btn-primary"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
