<ul data-container class="nav nav-pills">
  <li data-component="menuItem" class="nav-item">
    <a data-trigger  class="nav-link" href="#"><i></i></a>
  </li>
  <li data-component="dropdown" class="nav-item dropdown">
    <a data-trigger  class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i></i></a>
    <div data-inner-container class="dropdown-menu">
      <a data-component="menuItem" data-hidden data-trigger class="dropdown-item" href="#"><i></i></a>
      <div data-divider data-component="divider" class="dropdown-divider"></div>
    </div>
  </li>
  <li data-drop-zone class="nav-item builder-drop-zone-li">&nbsp;
  </li>
</ul>