<div class="nav-tree-container js-non-native-scrollbar" style="width:400px; padding: 10px">
  <ul data-container class="nav-tree">
    <li data-component="tree-leaf-node">
      <a data-trigger class="nav-tree-leaf-node" href="#"><i></i></a>
    </li>
    <li data-component="tree-node">
      <a data-trigger  href="#" class="nav-tree-node" role="button" aria-haspopup="true" aria-expanded="false"><i></i></a>
      <ul data-inner-container class="nav-tree-inner">
        <li data-component="tree-leaf-node">
          <a data-hidden data-trigger  class="nav-tree-leaf-node" href="#"><i></i></a>
        </li>       
        <li data-divider data-component="divider" class="dropdown-divider"></li>
      </ul>
    </li>
    <li data-drop-zone class="nav-tree-leaf-node builder-drop-zone">
    </li>
  </ul>
</div>
