<div class="trillo-table">
  <table data-container class="table">
    <thead>
      <tr data-table-header>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row>
        <td data-component="readonly">
          <span data-field></span>
        </td>
        <td data-component="text">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="checkbox">
          <div class="custom-control custom-checkbox">
            <input data-field type="checkbox" class="custom-control-input" id="use-name">
            <label data-label class="custom-control-label">Checkbox</label>
          </div>
        </td>
        <td data-radios-container data-component="radio">
          <div data-radio-container class="custom-control custom-radio">
            <input data-field type="radio" id="use-name" name="use-name" class="custom-control-input">
            <label data-label data-radio-label class="custom-control-label">Radio</label>
          </div>
        </td>
        <td data-component="radio-inline">
          <div data-radio-container class="custom-control custom-radio custom-control-inline">
            <input data-field type="radio" id="use-name" name="use-name" class="custom-control-input">
            <label data-label data-radio-label class="custom-control-label">Radio</label>
          </div>
        </td>
        <td data-component="select">
          <select data-field class="form-control custom-select">
            <option>1</option>
            <option>2</option>
          </select>
        </td>
        <td data-component="multi-select">
          <select multiple data-field class="form-control">
            <option>1</option>
            <option>2</option>
          </select>
        </td>
        <td data-component="textarea">
          <textarea data-field class="form-control" rows="2"></textarea>
        </td>
        <td data-component="number">
          <input data-field type="number" class="form-control">
        </td>
        <td data-component="email">
          <input data-field type="email" class="form-control">
        </td>
        <td data-component="password">
          <input data-field type="password" class="form-control">
        </td>
        <td data-component="datetime">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="datetime-local">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="date">
          <input data-field type="text" class="form-control">
        </td>
        <td data-component="time">
          <input data-field type="text" class="form-control flatpickr-input">
        </td>
        <td data-component="month">
          <input data-field type="text" dataFormat="F Y" class="form-control">
        </td>
        <td data-component="url">
          <input data-field type="url" class="form-control">
        </td>
        <td data-component="tel">
          <input data-field type="tel" class="form-control">
        </td>
        <td data-component="button">
          <button type="button" class="btn btn-primary"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
