<div class="trillo-form" name="CountryForm" nm="CountryForm">
  <form data-container="">
    <div data-component="text" class="form-group">
      <label data-label="">Country</label>
      <input data-field="" type="text" class="form-control" nm="country" readonly="readonly">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Animal</label>
      <input data-field="" type="text" class="form-control" nm="animal">
    </div>
    <div data-component="text" class="form-group">
      <label data-label="">Plant</label>
      <input data-field="" type="text" class="form-control" nm="plant">
    </div>
     
    <label data-component="checkbox" class="custom-control custom-checkbox">
    <input data-field="" type="checkbox" class="custom-control-input" nm="official"> 
    <span class="custom-control-indicator"></span>
     
    <span data-label="" class="custom-control-description">Official</span>
    </label>
    <div style="padding:10px">
      <button style="margin:5px" data-component="button" type="button" class="btn btn-primary" nm="close" name=
      "close">
        Close
      </button>
      <button style="margin:5px" data-component="button" type="button" class="btn btn-primary" nm="ok" name="ok">
        OK
      </button>
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>

