<div class="trillo-table" name="NationalAnimal" nm="NationalAnimal">
  <h1 class="trillo-text-center">
    National Animal
  </h1>
  <table data-container="" class="table" style=
  "max-width:400px; margin:0px auto; padding:20px; background-color:#f2f2f2">
    <thead>
      <tr data-table-header="">
        <th>
          Animal
        </th>
        <th>
          Country
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr data-table-row="">
        <td data-component="readonly" nm="animal" data-field="readonly">
        </td>
        <td data-component="readonly" nm="country" data-field="readonly">
        </td>
        <td data-component="button" nm="edit">
          <button type="button" class="btn btn-primary" name="edit" nm="edit">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

